@import '../../assets/css/varibles';

.container-home {
  width: 100vw;
  height: 100vh;
  display: flex;

  .div-image {
    width: 75%;
    height: 100%;
    background-image: url('../../assets/img/bg.jpg');
    background-size: cover;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(0deg, #40c8f4, #2179b5);
      opacity: 0.8;
    }
  }

  .form {
    width: 25%;
    height: 100%;

    .content-form {
      padding: 12% 10% 0 10%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container-home {
    height: 100vh;
    .div-image {
      width: 100%;
      height: 100vh;
      position: absolute;
      z-index: -1;
    }

    .form {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .content-form {
        background-color: white;
        padding: 5%;
        width: 90%;
      }
    }
  }    
}