@import '../../assets/css/varibles';

.group-buttons-delete, .group-buttons-alter-contact, .group-buttons-alter-password {

  .div-button.confirm-alter-password {
    width: 55%;
  }

  .confirm-alter-password {
    button {
      background: $color_green;
    }
  }

}