@import '../../assets/css/varibles';

.title {
  font-size: 2rem;
  font-weight: 300;
}

.group-buttons {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .login.button-register {
    width: 35%;
  }

  .login.button-login {
    width: 55%;
  }
  
}

.textSuccess {
  color: #2db92d;
  text-align: center;
  margin-top: 2rem;
}

.textError {
  color: #d94d4d;
  text-align: center;
  margin-top: 2rem;
}